@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background-image: url(https://www.maxpixel.net/static/photo/2x/Texture-Surface-Effect-White-Marble-Pattern-2371776.jpg);
  color: White;
  font-family: 'Overpass Mono', monospace;
  padding: 20px;
}

iframe {
  width: 100%;
  height: 50vh
}

.links {
  margin: 0 auto;
  text-align:center;
  font-size: 1.5em;
}

.links a {
  color: #41f4f1;
}
#instagram {
  color: rgb(65, 244, 169);
  text-align: center;
  margin: 0 auto;
}

.gallery{
  margin-top: 20px;
}
